{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "ie": 11
        },
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-function-bind",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    [
      "transform-imports",
      {
        "ramda": {
          "transform": "ramda/src/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
